{% extends 'base.html' %}
{% load static %}
{% block title %}
Product
{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'img/product-2.png' %}" class="" alt="">

        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
           <h1 class="product_title">HTC One</h1>
           <h5 class="text-info font-italic mb-3">
            <span class="mr-1">$</span> 300
          </h5>
           <p class="product_decription">Product Decription</p>
           <p class="text-justify product_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Sed ratione amet quaerat perferendis maxime earum molestias modi.
                Iusto optio quia at nemo nobis? Obcaecati voluptas, magnam facilis libero illum incidunt eum, ipsa placeat ex cupiditate delectus? Maxime quis nostrum amet, voluptatum ullam asperiores
                ab molestias libero esse repellat veniam quaerat.</p>
            <p class="text-justify product_text"><b>Out of Stock</b></p>    
        </div>
    </div>
</div>
{% endblock content %}